<div class="landing-page">
    <header class="navbar">
        <div class="app-name">
            HOGOZATY
        </div>

        <div class="right-button">
            <button routerLink="/login">Login</button>
            <button routerLink="/register">Register</button>
        </div>
    </header>

    <div class="cover-image">
        <img src="c.jpg" alt="Cover Image" class="full-cover">
        <div class="hero-text">
            <h1>Your Trusted Healthcare Companion</h1>
            <p>Book appointments with top doctors, get medical advice, and manage your health effortlessly. Your well-being is just a click away!</p>
            <button routerLink="/info">How It Works?</button>
        </div>
    </div>
</div>
