<div class="navbar">
  <div class="logo-container">
    <img src="vv_w.png" alt="HOGOZATY Logo" class="logo-image" routerLink="/doctor-home">
  </div>

    <ul class="nav-links">
    <li>
      <a routerLink="/doctor-home" title="Home">
        <i class="fas fa-home"></i>
        <span class="nav-text">Home</span>
      </a>
    </li>

      <li>
        <a routerLink="/d-daily-report">
            <i class="fas fa-clipboard-list"></i> Revenues
        </a>
      </li>

     
        <li>
            <a routerLink="/d-revenues" title="Revenues">
              <i class="fas fa-dollar-sign"></i>  Daybook
            </a>
        </li>
          

      <li class="menu-container">
        <a routerLink="/d-profile">
          <i class="fas fa-user"></i> {{ patient.data.firstName | titlecase }}
        </a>
      </li>

      <li>
        <a (click)="logout()">
            <i class="fas fa-sign-out-alt"></i> Logout
        </a>
    </li>
    </ul>

   
  </div>
  