<app-admin-header></app-admin-header>
<div class="registration-container">
    <div class="registration-card">
      <h2>Register New Secretary</h2>
      
      <form [formGroup]="secretaryForm" (ngSubmit)="onSubmit()">
        <div class="form-row">
          <div class="form-group">
            <label for="firstName">First Name *</label>
            <input type="text" id="firstName" formControlName="firstName">
            <div *ngIf="formControls['firstName'].touched && formControls['firstName'].errors" class="error-message">
              First name is required
            </div>
          </div>
  
          <div class="form-group">
            <label for="lastName">Last Name *</label>
            <input type="text" id="lastName" formControlName="lastName">
            <div *ngIf="formControls['lastName'].touched && formControls['lastName'].errors" class="error-message">
              Last name is required
            </div>
          </div>
        </div>
  
        <div class="form-row">
          <div class="form-group">
            <label for="username">Username *</label>
            <input type="text" id="username" formControlName="username">
            <div *ngIf="formControls['username'].touched && formControls['username'].errors" class="error-message">
              Username is required (min 4 characters)
            </div>
          </div>
  
          <div class="form-group">
            <label for="email">Email *</label>
            <input type="email" id="email" formControlName="email">
            <div *ngIf="formControls['email'].touched && formControls['email'].errors" class="error-message">
              Valid email is required
            </div>
          </div>
        </div>
  
        <div class="form-row">
          <div class="form-group">
            <label for="phoneNumber">Phone Number *</label>
            <input type="tel" id="phoneNumber" formControlName="phoneNumber">
            <div *ngIf="formControls['phoneNumber'].touched && formControls['phoneNumber'].errors" class="error-message">
              Phone number is required
            </div>
          </div>
  
          <div class="form-group">
            <label for="password">Password *</label>
            <input type="password" id="password" formControlName="password">
            <div *ngIf="formControls['password'].touched && formControls['password'].errors" class="error-message">
              Password is required (min 6 characters)
            </div>
          </div>
        </div>
  
        <div class="form-row">
          <div class="form-group">
            <label for="dateOfBirth">Date of Birth *</label>
            <input type="date" id="dateOfBirth" formControlName="dateOfBirth">
            <div *ngIf="formControls['dateOfBirth'].touched && formControls['dateOfBirth'].errors" class="error-message">
              Date of birth is required
            </div>
          </div>
  
          <div class="form-group">
            <label for="genderId">Gender *</label>
            <select id="genderId" formControlName="genderId">
              <option value="">Select Gender</option>
              <option *ngFor="let gender of genders" [value]="gender.id">{{gender.name_En}}</option>
            </select>
            <div *ngIf="formControls['genderId'].touched && formControls['genderId'].errors" class="error-message">
              Gender is required
            </div>
          </div>
        </div>
  
        <div class="form-row">
          <div class="form-group">
            <label for="doctorId">Assigned Doctor *</label>
            <select id="doctorId" formControlName="doctorId">
              <option value="">Select Doctor</option>
              <option *ngFor="let doctor of doctors" [value]="doctor.id">
                Dr. {{doctor.firstName}} {{doctor.lastName}} ({{doctor.specialization?.name_En}})
              </option>
            </select>
            <div *ngIf="formControls['doctorId'].touched && formControls['doctorId'].errors" class="error-message">
              Doctor assignment is required
            </div>
          </div>
  
          <div class="form-group">
            <label for="hireDate">Hire Date *</label>
            <input type="date" id="hireDate" formControlName="hireDate">
            <div *ngIf="formControls['hireDate'].touched && formControls['hireDate'].errors" class="error-message">
              Hire date is required
            </div>
          </div>
        </div>
  
        <div class="form-group">
          <label for="profilePicture">Profile Picture</label>
          <input type="file" id="profilePicture" (change)="onFileChange($event)" accept="image/*">
        </div>
  
        <div class="form-actions">
          <button type="submit" [disabled]="secretaryForm.invalid">Register Secretary</button>
          <button type="button" class="cancel" routerLink="/admin/users">Cancel</button>
        </div>
      </form>
    </div>
  </div>