<app-admin-header></app-admin-header>

<div class="registration-container">
    <div class="registration-card">
      <h2>{{ 'secretary_form.register_title' | transloco }}</h2>
      
      <form [formGroup]="secretaryForm" (ngSubmit)="onSubmit()">
        <div class="form-row">
          <div class="form-group">
            <label for="firstName">{{ 'secretary_form.first_name' | transloco }} *</label>
            <input type="text" id="firstName" formControlName="firstName">
            <div *ngIf="formControls['firstName'].touched && formControls['firstName'].errors" class="error-message">
              {{ 'validation.first_name_required' | transloco }}
            </div>
          </div>
  
          <div class="form-group">
            <label for="lastName">{{ 'secretary_form.last_name' | transloco }} *</label>
            <input type="text" id="lastName" formControlName="lastName">
            <div *ngIf="formControls['lastName'].touched && formControls['lastName'].errors" class="error-message">
              {{ 'validation.last_name_required' | transloco }}
            </div>
          </div>
        </div>
  
        <div class="form-row">
          <div class="form-group">
            <label for="username">{{ 'secretary_form.username' | transloco }} *</label>
            <input type="text" id="username" formControlName="username">
            <div *ngIf="formControls['username'].touched && formControls['username'].errors" class="error-message">
              {{ 'validation.username_required' | transloco }}
            </div>
          </div>
  
          <div class="form-group">
            <label for="email">{{ 'secretary_form.email' | transloco }} *</label>
            <input type="email" id="email" formControlName="email">
            <div *ngIf="formControls['email'].touched && formControls['email'].errors" class="error-message">
              {{ 'validation.valid_email' | transloco }}
            </div>
          </div>
        </div>
  
        <div class="form-row">
          <div class="form-group">
            <label for="phoneNumber">{{ 'secretary_form.phone' | transloco }} *</label>
            <input type="tel" id="phoneNumber" formControlName="phoneNumber">
            <div *ngIf="formControls['phoneNumber'].touched && formControls['phoneNumber'].errors" class="error-message">
              {{ 'validation.phone_required' | transloco }}
            </div>
          </div>
  
          <div class="form-group">
            <label for="password">{{ 'secretary_form.password' | transloco }} *</label>
            <input type="password" id="password" formControlName="password">
            <div *ngIf="formControls['password'].touched && formControls['password'].errors" class="error-message">
              {{ 'validation.password_required' | transloco }}
            </div>
          </div>
        </div>
  
        <div class="form-row">
          <div class="form-group">
            <label for="dateOfBirth">{{ 'secretary_form.dob' | transloco }} *</label>
            <input type="date" id="dateOfBirth" formControlName="dateOfBirth">
            <div *ngIf="formControls['dateOfBirth'].touched && formControls['dateOfBirth'].errors" class="error-message">
              {{ 'validation.dob_required' | transloco }}
            </div>
          </div>
  
          <div class="form-group">
            <label for="genderId">{{ 'secretary_form.gender' | transloco }} *</label>
            <select id="genderId" formControlName="genderId">
              <option value="">{{ 'secretary_form.select_gender' | transloco }}</option>
              <option *ngFor="let gender of genders" [value]="gender.id">
                {{ getTranslatedName(gender) }}
              </option>
            </select>
            <div *ngIf="formControls['genderId'].touched && formControls['genderId'].errors" class="error-message">
              {{ 'validation.gender_required' | transloco }}
            </div>
          </div>
        </div>
  
        <div class="form-row">
          <div class="form-group">
            <label for="doctorId">{{ 'secretary_form.assigned_doctor' | transloco }} *</label>
            <select id="doctorId" formControlName="doctorId">
              <option value="">{{ 'secretary_form.select_doctor' | transloco }}</option>
              <option *ngFor="let doctor of doctors" [value]="doctor.id">
                {{ getDoctorDisplayName(doctor) }}
              </option>
            </select>
            <div *ngIf="formControls['doctorId'].touched && formControls['doctorId'].errors" class="error-message">
              {{ 'validation.doctor_required' | transloco }}
            </div>
          </div>
  
          <div class="form-group">
            <label for="hireDate">{{ 'secretary_form.hire_date' | transloco }} *</label>
            <input type="date" id="hireDate" formControlName="hireDate">
            <div *ngIf="formControls['hireDate'].touched && formControls['hireDate'].errors" class="error-message">
              {{ 'validation.hire_date_required' | transloco }}
            </div>
          </div>
        </div>
  
        <div class="form-group">
          <label for="profilePicture">{{ 'secretary_form.profile_picture' | transloco }}</label>
          <input type="file" id="profilePicture" (change)="onFileChange($event)" accept="image/*">
        </div>
  
        <div class="form-actions">
          <button type="submit" [disabled]="secretaryForm.invalid">
            {{ 'secretary_form.register_button' | transloco }}
          </button>
        </div>
      </form>
    </div>
</div>