<div class="bg-img" style="background-image: url('www.jpg');">
    <div class="overlay"></div>
    <div class="content">
      <header>RESET PASSWORD</header>
  
      <form [formGroup]="resetPasswordForm" (ngSubmit)="submit()">
        <!-- New Password Field -->
        <div class="field">
          <span class="fa fa-lock"></span>
          <input
            type="password"
            formControlName="newPassword"
            placeholder="Enter new password"
            required
          />
          <div *ngIf="isSubmitted && fc['newPassword'].invalid" class="error">
            Password is required.
          </div>
        </div>
  
        <!-- Confirm Password Field -->
        <div class="field">
          <span class="fa fa-lock"></span>
          <input
            type="password"
            formControlName="confirmPassword"
            placeholder="Confirm new password"
            required
          />
          <div *ngIf="isSubmitted && fc['confirmPassword'].invalid" class="error">
            Password confirmation is required.
          </div>
          <div *ngIf="isSubmitted && resetPasswordForm.hasError('notMatching')" class="error">
            Passwords do not match.
          </div>
        </div>
  
        <!-- Submit Button -->
        <div class="field">
          <input type="submit" value="Reset Password" />
        </div>
      </form>
    </div>
  </div>