<div class="modal-container">
    <div class="modal-header">
      <h2>Create New User</h2>
      <p>Select the type of user you want to create</p>
    </div>
  
    <div class="options-container">
      <div *ngFor="let option of options" class="option-card" 
           [style.border-color]="option.color"
           (click)="selectOption(option.route)">
        <div class="option-icon" [style.background-color]="option.color">
          <mat-icon>{{option.icon}}</mat-icon>
        </div>
        <div class="option-content">
          <h3>{{option.title}}</h3>
          <p>{{option.description}}</p>
        </div>
        <mat-icon class="arrow-icon">arrow_forward</mat-icon>
      </div>
    </div>
  
    <div class="modal-actions">
      <button mat-stroked-button color="primary" (click)="close()">Cancel</button>
    </div>
  </div>
  