<app-admin-header></app-admin-header>

<div class="registration-container">
  <div class="registration-card">
    <div class="card-header">
      <h1>{{ 'clinic_form.register_title' | transloco }}</h1>
      <p>{{ 'clinic_form.register_subtitle' | transloco }}</p>
    </div>

    <form [formGroup]="clinicForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">{{ 'clinic_form.name' | transloco }} *</label>
        <input 
          type="text" 
          id="name" 
          formControlName="name" 
          [placeholder]="'clinic_form.name_placeholder' | transloco"
          [class.invalid]="formControls['name'].invalid && formControls['name'].touched">
        <div class="error-message" *ngIf="formControls['name'].invalid && formControls['name'].touched">
          {{ 'validation.name_required' | transloco }}
        </div>
      </div>

      <div class="form-row">
        <div class="form-group">
          <label for="countryId">{{ 'clinic_form.country' | transloco }} *</label>
          <select 
            id="countryId" 
            formControlName="countryId" 
            (change)="updateGovernorates($event)"
            [class.invalid]="formControls['countryId'].invalid && formControls['countryId'].touched">
            <option value="">{{ 'clinic_form.select_country' | transloco }}</option>
            <option *ngFor="let country of countries" [value]="country.id">
              {{ getTranslatedName(country) }}
            </option>
          </select>
          <div class="error-message" *ngIf="formControls['countryId'].invalid && formControls['countryId'].touched">
            {{ 'validation.country_required' | transloco }}
          </div>
        </div>

        <div class="form-group">
          <label for="governorateId">{{ 'clinic_form.governorate' | transloco }} *</label>
          <select 
            id="governorateId" 
            formControlName="governorateId" 
            [disabled]="!formControls['countryId'].value"
            (change)="updateDistricts($event)"
            [class.invalid]="formControls['governorateId'].invalid && formControls['governorateId'].touched">
            <option value="">{{ 'clinic_form.select_governorate' | transloco }}</option>
            <option *ngFor="let governorate of governorates" [value]="governorate.id">
              {{ getTranslatedName(governorate) }}
            </option>
          </select>
          <div class="error-message" *ngIf="formControls['governorateId'].invalid && formControls['governorateId'].touched">
            {{ 'validation.governorate_required' | transloco }}
          </div>
        </div>

        <div class="form-group">
          <label for="districtId">{{ 'clinic_form.district' | transloco }} *</label>
          <select 
            id="districtId" 
            formControlName="districtId" 
            [disabled]="!formControls['governorateId'].value"
            [class.invalid]="formControls['districtId'].invalid && formControls['districtId'].touched">
            <option value="">{{ 'clinic_form.select_district' | transloco }}</option>
            <option *ngFor="let district of districts" [value]="district.id">
              {{ getTranslatedName(district) }}
            </option>
          </select>
          <div class="error-message" *ngIf="formControls['districtId'].invalid && formControls['districtId'].touched">
            {{ 'validation.district_required' | transloco }}
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="phone">{{ 'clinic_form.phone' | transloco }} *</label>
        <input 
          type="tel" 
          id="phone" 
          formControlName="phone" 
          [placeholder]="'clinic_form.phone_placeholder' | transloco"
          [class.invalid]="formControls['phone'].invalid && formControls['phone'].touched">
        <div class="error-message" *ngIf="formControls['phone'].invalid && formControls['phone'].touched">
          {{ 'validation.phone_required' | transloco }}
        </div>
      </div>
      
      <div class="form-group">
        <label for="email">{{ 'clinic_form.email' | transloco }} *</label>
        <input 
          type="email" 
          id="email" 
          formControlName="email" 
          [placeholder]="'clinic_form.email_placeholder' | transloco"
          [class.invalid]="formControls['email'].invalid && formControls['email'].touched">
        <div class="error-message" *ngIf="formControls['email'].invalid && formControls['email'].touched">
          {{ 'validation.valid_email' | transloco }}
        </div>
      </div>

      <div class="form-group">
        <label>{{ 'clinic_form.gallery_label' | transloco }}</label>
        <div class="file-upload-wrapper">
          <input 
            type="file" 
            id="gallery" 
            (change)="onGalleryChange($event)" 
            multiple 
            accept="image/*">
          <label for="gallery" class="file-upload-label">
            <span class="upload-icon">+</span>
            {{ 'clinic_form.select_images' | transloco }}
          </label>
        </div>
        <div class="gallery-preview" *ngIf="galleryFiles.length > 0">
          <div class="preview-item" *ngFor="let file of galleryFiles; let i = index">
            <span>{{file.name}}</span>
            <button type="button" class="delete-btn" (click)="removeGalleryFile(i)">×</button>
          </div>
        </div>
      </div>

      <div class="form-actions">
        <button 
          type="submit" 
          class="submit-btn"
          [disabled]="clinicForm.invalid || isLoading">
          <span *ngIf="!isLoading">{{ 'clinic_form.create_button' | transloco }}</span>
          <span *ngIf="isLoading" class="loading-spinner"></span>
        </button>
        <button type="button" class="cancel-btn" routerLink="/admin/clinics">
          {{ 'common.cancel' | transloco }}
        </button>
      </div>
    </form>
  </div>
</div>