<div class="bg-img" [dir]="currentLang === 'ar' ? 'rtl' : 'ltr'">
  <div class="overlay"></div>
  <div class="cover-image">
    <img src="www.jpg" alt="" role="presentation" class="full-cover">
    </div>

  <div class="navbar-spacer"></div>

  <div class="content">
    <img src="vv_b.png" alt="" class="logo" routerLink="/" />
    
    <!-- <div class="lang-switcher">
      <button (click)="switchLanguage('en')" [class.active]="currentLang === 'en'">EN</button>
      <button (click)="switchLanguage('ar')" [class.active]="currentLang === 'ar'">عربي</button>
    </div> -->
    
    <form [formGroup]="loginForm" (ngSubmit)="submit()">
      <div class="field">
        <span class="fa fa-user"></span>
        <label for="emailUsernamePhone" class="sr-only">
          {{ 'login.form.emailLabel' | transloco }}
        </label>
        <input
          id="emailUsernamePhone"
          type="text"
          formControlName="EmailOrUsernameOrPhone"
          [placeholder]="'login.form.emailPlaceholder' | transloco"
          [attr.aria-label]="'login.form.emailLabel' | transloco"
          required
        />
        <div *ngIf="isSubmitted && fc['EmailOrUsernameOrPhone'].invalid" class="error">
          {{ 'login.formErrors.emailRequired' | transloco }}
        </div>
      </div>
      <div class="field space">
        <span class="fa fa-lock"></span>
        <label for="passwordInput" class="sr-only">
          {{ 'login.form.passwordLabel' | transloco }}
        </label>
        <input
          id="passwordInput"
          type="password"
          formControlName="password"
          class="pass-key"
          [placeholder]="'login.form.passwordPlaceholder' | transloco"
          required
        />
        <div *ngIf="isSubmitted && fc['password'].invalid" class="error">
          {{ 'login.formErrors.passwordRequired' | transloco }}
        </div>
      </div>

      <div class="field">
        <input type="submit" [value]="'login.buttons.login' | transloco" />
      </div>

      <div class="forgot-password">
        <a routerLink="/forget-password">{{ 'login.links.forgotPassword' | transloco }}</a>
      </div>
    </form>

    <div class="signup">
      {{ 'login.messages.noAccount' | transloco }} 
      <a routerLink="/register">{{ 'login.links.signUp' | transloco }}</a>
    </div>
  </div>
</div>