<app-p-header></app-p-header>

<div class="navbar-spacer"></div>

<app-side-navbar></app-side-navbar>

<div class="profile-container">
  <div class="profile-card">
    <div class="profile-picture">
      <img [src]="BASE_URL + '/' + patient.data.profilePicture || 'default-profile.png'" alt="Profile Picture">
    </div>

    <div class="profile-details">
      <h2>{{ patient.data.firstName }} {{ patient.data.lastName }}</h2>

      <div class="info">
        <p><strong>Email:</strong> {{ patient.data.email }}</p>
        <p><strong>Country:</strong> {{ patient.data.country_En }}</p>
        <p><strong>Governorate:</strong> {{ patient.data.governorate_En }}</p>
        <p><strong>District:</strong> {{ patient.data.district_En }}</p>
      </div>
    </div>
  </div>
</div>
