<app-p-header></app-p-header>

<div class="navbar-spacer"></div>

<div class="content">
    <div class="side-navbar">
        <div class="user-info">
            <img [src]="patient.data.profilePicture ? 'http://89.58.39.164:5000/' + patient.data.profilePicture : 'default-avatar.jpg'" 
                alt="User profile picture" 
                class="user-img" />

            <h3><i class="fas fa-user"></i> {{ patient.data.firstName }} {{ patient.data.lastName }}</h3>
            <p><i class="fas fa-at"></i> {{ patient.data.username }}</p>
            <p><i class="fas fa-map-marker-alt"></i> {{ patient.data.district_En }}</p>
        </div>
        <div class="side-navbar-links"> 
            <a routerLink="/profile" class="side-navbar-link"><i class="fas fa-id-card"></i> Profile</a>
            <a routerLink="/settings" class="side-navbar-link"><i class="fas fa-cogs"></i> Settings</a>
            <a (click)="logout()" class="side-navbar-link"><i class="fas fa-sign-out-alt"></i> Logout</a>
        </div>
    </div>

    <div class="container">
        <h2>Doctors specializing in {{ specialization }}</h2>
    
        <div class="search-box">
            <input type="text" placeholder="Search by doctor or clinic name..." (input)="search($event)" />
            <button title="Search"><i class="fas fa-search"></i></button>
        </div>
    
        <div *ngFor="let doctor of filteredDoctors" class="doctor-card"  (click)="goToDoctorProfile(doctor)">
            <img [src]="doctor.profilePicture || 'default-avatar.jpg'" alt="{{ doctor.firstName }}" />
            <h3>{{ doctor.firstName }} {{ doctor.lastName }}</h3>
            <p><strong>Specialization:</strong> {{ specializationNames[doctor.specializationId] || 'Unknown' }}</p>  <p *ngIf="clinics[doctor.clinicId]">
                <strong>Location:</strong> 
                {{ clinics[doctor.clinicId].district_En || 'Unknown' }}, 
                {{ clinics[doctor.clinicId]?.governorate_En || 'Unknown' }}, 
                {{ clinics[doctor.clinicId]?.country_En || 'Unknown' }}
            </p>

            <p><strong>Fee:</strong> ${{ doctor.checkPrice }}</p>
            <p><strong>Rating:</strong> ⭐{{ doctor.avgFeedbackRating }}</p>
          
            
            
        </div>
        
        </div>
    </div>
